body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./images/sky-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 16pt;
}

input {
  width: 220px;
  height: 40px;
  font-size: 14pt;
}